*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #F8FAFC;
}

header{
    text-align: center;
    padding: 30px;;
    background-color: #FFFFFF;
}

h1{
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 3.6rem;
}

div{
    max-width: 800px;
    margin: auto;
    padding: 30px;

}

.pmain{
    line-height: 3rem;
}

li{
    line-height: 1.7rem;
    text-align: justify;
}

ol, ul{
    padding-left: 20px;
}

a{
    text-decoration: none;
    color: #4E80EE;
}

a:hover{
    text-decoration: underline;
}

hr{
    margin: 30px 0;
    border: 2px solid #D2D5DA;
}